@font-face {
  font-family: Insignia;
  src: url("../../layout/_fontes/Insignia.otf");
}


body {
  font-family: Insignia !important;
  height: 100vh;
  background: rgb(26, 59, 153);
  background: linear-gradient(0deg, rgba(26, 59, 153, 1) 0%, rgba(74, 134, 255, 1) 75%);
  background-repeat: no-repeat;
  overflow: hidden;
}

main {
  height: calc(100vh - 106px);
  overflow-y: auto;
}

main::-webkit-scrollbar {
  display: none;
}

.list-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.list-cards .card {
  margin: 0.8em;
}

.avatar-icon,
.chat-icon {
  color: #303f9f;
}

.chat-button {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  z-index: 5;
}

.icone-chat {
  width: 50px;
}

.card-tarefa {
  background-color: transparent !important;
  border: 1.5px SOLID #FFFFFF !important;
  color: #ffffff !important;
  max-width: 762px;
}

.card-tarefa-disabled {
  border: 1.5px SOLID #262626 !important;
  color: #262626 !important;

}

.card-link {
  color: #f0da22;
  font-weight: bold;
  font-size: 1.2rem;
}

.card-link:hover {
  color: #f0bd22;
}

.card-link.disabled {
  color: #262626;
}

.bg-navbar {
  background-color: #262626;
}

.logo-go {
  width: 75px;
  height: 100%;
}

.link-navbar {
  color: #FFFFFF !important;
}

.link-navbar:hover {
  color: #f0da22 !important;
}

.nav-link {
  font-size: 1.3em;
}

.nav-link.active {
  color: #f0da22 !important;
}


.box-tarefa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #f0da22;
  width: 80%;
  max-width: 150px;
  margin: .5em auto;
  height: 100px;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 5px;
  color: #f0da22;
}

.box-tarefa-disabled {
  border: 1.5px SOLID #262626 !important;
}

.coroa {
  position: absolute;
  bottom: 100%;
  display: flex;
  justify-content: space-between;
  width: 55px;
}

.coroa-3 {
  width: 90px
}



.points-mark {
  position: absolute;
  top: 50%;
  width: 130%;
}

.titulo-tarefas {
  color: #ffffff;
  margin-left: 1rem;
  margin-bottom: 0;
}

/* INICIO DOS MEDIA QUERIES */

@media (min-width: 1300px) {

  .bg-navbar {
    padding: .5rem 3rem !important;
  }

  .icone-chat {
    width: 70px;
  }
}